/*
 * Variables Media Queries
 *******************************************************************************/
$screen-md:						754px;
$screen-lg:						970px;
$screen-xl:						1224px;

/*
 * Fonts
 *******************************************************************************/
$font-family:					'Roboto', Arial,sans-serif;
$font-family-2:					'Roboto Condensed', Arial,sans-serif;
$font-icon:					    'FontAwesome';

/*
 * Base Colors
 *******************************************************************************/
$color_orange_dark:       #fc830b;
$color_orange:			  #f7931e;
$color_orange_ligth:      #f4a556;
$color_gray:			  #4d4d4d;
$color_gray_ligth:        #686868;
$color_gray_medium_ligth: #b3b3b3;
$color_gray_ultra_ligth:  #e6e6e6;
$color_white:			  #ffffff;
$color_shadow:			  #000000;
$color_yellow:            #ffff00;

