<% text = /login/.test(type) ? 'Entre' : 'Cadastre-se'; %>
<div class="row_login_gap">
    <div class="container_button_left">
        <button class="button_facebook button_facebook_action">
            <b class="button_facebook_action"><%= text %></b> com <b class="button_facebook_action">Facebook</b>
        </button>
    </div>
</div>
<div class="row_login">
    <div class="container_button_left">
        <button class="button_twitter button_twitter_action">
            <b class="button_twitter_action"><%= text %></b> com <b class="button_twitter_action">Twitter</b>
        </button>
    </div>
</div>
<div class="row_login">
    <div class="container_button_left">
        <button class="button_linkedin button_linkedin_action">
            <b class="button_linkedin_action"><%= text %></b> com <b class="button_linkedin_action">Linkedin</b>
        </button>
    </div>
</div>